body{
  background-image: url(../img/fondo.jpg);
  background-size: 100%;
}

.logo img{
  width: 60%;
  margin-top: 0.5rem;
  float: left;
}

.nav-wrapper{
  padding: 0px;
}

h3{
  font-style: italic;
  font-style: bold;
}
